{
	"arrowParens": "always",
	"bracketSameLine": true,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"printWidth": 120,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"htmlWhitespaceSensitivity": "ignore"
			}
		}
	]
}
